@import '~antd/dist/antd.css';

.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.login-form {
    min-width: 300px;
    padding-top: 30px;
}

.login-form-forgot {
    float: right;
}

.login-form-button {
    width: 100%;
}

.register-form-button {
    margin-left: 35%;
    width: 30%;
}

.create-form-input {
    margin-top: 30px;
}

.game-edge-horizontal {
    height: 0;
    border: 3px #ffffff solid;
    width: 25%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}

.game-edge-horizontal:hover {
    box-shadow: 0 0 50px #000000;
}

.game-edge-vertical {
    width: 0;
    border: 3px #ffffff solid;
    height: 25%;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    margin-top: 1.5px;
    margin-left: -1.5px;
}

.game-edge-vertical:hover {
    box-shadow: 0 0 50px #000000;
}

.game-edge-horizontal-stuffed {
    height: 0;
    border: 3px #adadad solid;
    width: 25%;
    position: absolute;
    z-index: 1;
}

.game-edge-vertical-stuffed {
    width: 0;
    border: 3px #adadad solid;
    height: 25%;
    position: absolute;
    z-index: 1;
    margin-top: 1.5px;
    margin-left: -1.5px;
}

.game-edge-square {
    width: 25%;
    height: 25%;
    position: absolute;
    z-index: 0;
}

.game-dot {
    position: absolute;
    border: 3px #000000 solid;
    width: 0;
    height: 0;
    z-index: 2;
    margin-left: -1.5px;
}